@model PostCreateViewmodel
<div class="row">
    <div class="col-12">
        <div class="bg-white p4">
            <h1>Create Post</h1>
            <form action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="mb-3">
                    <label asp-for="title" class="form-label"></label>
                    <input asp-for="title" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label asp-for="description" class="form-label"></label>
                    <textarea asp-for="description" class="form-control"></textarea>
                    
                </div>
                
                 <div class="mb-3">
                    <label asp-for="Url" class="form-label"></label>
                    <input asp-for="Url" class="form-control">
                </div>

                <div class="mb-3">
                    <label asp-for="content" class="form-label"></label>
                    <input asp-for="content" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
